*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.landing{
    background-image: url('./bg.jpg');
    background-size: cover;
    height: 100%;
}

nav{
    background-color: #0F1108;
}

ul{
    float: right;
    padding: 10px;
   
}
li{
    display: inline;
    padding: 10px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: overline;
  }

.msg{
    padding: 50px;
    padding-top: 100px;
    padding-left: 100px;
    color: whitesmoke;
}
p{
    color: whitesmoke;
}
.signup{
    padding: 100px;
    padding-top: 60px;
}

input{
    padding: 10px;
    width: 300px;
    border-radius: 20px;
    border: none;
    margin: 10px;
    margin-left:0 ;
}

button{
    background-color: #000000;
    color: white;
    padding: 8px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
}